body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 20px;
    box-sizing: border-box;
}


button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#validationResult {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

/* Use red for weak password text */
.weak-password {
    color: #FF3B30;
}

/* Use green for strong password text */
.strong-password {
    color: #34C759;
}

/* Light red background for weak passwords */
.weak-background {
    background-color: #FFD3D3;
}

/* Light green background for strong passwords */
.strong-background {
    background-color: #D1FFDE;
}